<<<<<<< HEAD
/* body */
.container{
    display: flex;
}
.text{
    width: 75%;
}
.text p{
    font-size: 1.8rem;
}

.img{
    width: 25%;
}
.img img{
    width: 95%;
}

/* footer */
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.card-box img{
    width: 100px;
    color: purple;
}
