<<<<<<< HEAD
/* body */
.container{
    display: flex;
}
.text{
    width: 75%;
}
.text p{
    font-size: 1.8rem;
}

.img{
    width: 25%;
}
.img img{
    width: 95%;
=======
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
>>>>>>> 72540f628ca3dbcd2f6f9d74ddd4b5890be7cd83
}